.footer__copyright {
  margin: 0;
  padding-bottom: 60px;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media screen and (max-width: 600px) {
  .footer__copyright {
    padding-bottom: 36px;
    font-size: 14px;
    line-height: 17px;
  }
}
