.footer {
  max-width: 880px;
  margin: 66px auto 0;
}

@media screen and (max-width: 950px) {
  .footer {
    max-width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    margin-top: 48px;
  }
}