.popup__form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 72px);
}

@media screen and (max-width: 600px) {
  .popup__form {
    max-width: 238px;
    margin: 0 22px;
  }
}