@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__wrapper/header__wrapper.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__user-email/header__user-email.css);
@import url(./blocks/content/content.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-edit-button/profile__avatar-edit-button.css);
@import url(./blocks/profile/__user-name/profile__user-name.css);
@import url(./blocks/profile/__user-job/profile__user-job.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__like-container/element__like-container.css);
@import url(./blocks/element/__like-button/element__like-button.css);
@import url(./blocks/element/__like-button/_active/element__like-button_active.css);
@import url(./blocks/element/__like-counter/element__like-counter.css);
@import url(./blocks/element/__remove-button/element__remove-button.css);
@import url(./blocks/element/__remove-button/_hidden/element__remove-button_hidden.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__wrapper/popup__wrapper.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/input-container/input-container.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/_error/popup__input_type_error.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(./blocks/popup/__save-button/popup__save-button.css);
@import url(./blocks/popup/__save-button/_card-remove/popup__save-button_card-remove.css);
@import url(./blocks/popup/__save-button/_disabled/popup__save-button_disabled.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_type/_fullscreen-image/popup__type_fullscreen-image.css);
@import url(./blocks/popup/__image-container/popup__image_container.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__image-description/popup__image-description.css);
@import url(./blocks/info-tooltip/__image/info-tooltip__image.css);
@import url(./blocks/info-tooltip/__title/info-tooltip__title.css);
@import url(./blocks/authorization/authorization.css);
@import url(./blocks/authorization/__title/authorization__title.css);
@import url(./blocks/authorization/__form/authorization__form.css);
@import url(./blocks/authorization/__input/authorization__input.css);
@import url(./blocks/authorization/__button/authorization__button.css);
@import url(./blocks/authorization/__link/authorization__link.css);